

body {
    background-color: lightsteelblue;

}
h2 {
    font-size: 66px;
    font-family: Arial, Helvetica, sans-serif
    margin-bottom: 20px;
    color: hsla(263, 86%, 50%, 0.76);
    letter-spacing: 20px;
}


table {
    margin-top: 25px;
    width: 100%;
    background-color: hsla(133, 82%, 74%, 0.5);
    justify-content: space-between;
}

button {
margin: 25px 25px 25px 25px;

}

.order-total{
    display: flex;
    justify-content: flex-end;
    color: indianred;
    font-size: 17px;
}