/* add home page styles here */
background-color: var(--color2);
background-image: url(https://www.interiorsandsources.com/Portals/0/Images/00_March_2020/KitKat_Store/DSC_3707.jpg);
background-repeat: no-repeat;